.footer{
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    background-color: #282828;
    flex-direction: row;
    display: flex;
    align-items: center;
    /* width: 96%; */
}
.footer_right {
    flex: 0.3;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding-top: 10px;
    margin-left: 60px;
}

.album_logo{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
}

.footer_left{
    flex: 0.3;
    display: flex;
    align-items: center;
    color: white;
    width : 300px;
    margin-left: 50px;
}

.footer_center{
    flex: 0.4;
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    color: white;
    align-items: center;
    max-width: 300px;
}

.footer_green{
    color: green;
}

.footer_icon:hover , .footer_green:hover{
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}

.footer_right * .MuiSlider-root{
    color: green;
}

.body_shuffle{
    font-size: 80px !important;
}