.sidebar_option{
    height: 40px;
    color: grey;
    cursor: pointer;
    transition: 200ms color ease-in;
    display: flex;
    /* padding: 5px; */
    align-items: center;
}

.sidebar_option:hover{
    color: white;
}

.sidebarOption_icon{
    margin-right: 5px;
}

